In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('cars.csv')

In [3]:
# Q1. Check Duplicate Records
duplicate_records = df.duplicated().sum()

In [4]:
# Q3. Check missing or null values
missing_values_before_dropping = df.isnull().sum()

In [5]:
# Q4. Drop missing or null values
df.dropna(inplace=True)
records_after_dropping_na = df.shape[0]

In [6]:
# Q5. Check if all unique values are similar for Make and Model columns
make_unique_count_original = df['Make'].nunique()
model_unique_count_original = df['Model'].nunique()
make_normalized_count = df['Make'].str.lower().str.strip().nunique()
model_normalized_count = df['Model'].str.lower().str.strip().nunique()

In [7]:
# Q6. Change column names and convert 'Engine Cylinders'
new_column_names = {
    'Engine Fuel Type': 'Fuel Type',
    'Engine HP': 'HP',
    'Engine Cylinders': 'Cylinders',
    'Transmission Type': 'Transmission',
    'Driven_Wheels': 'Driven Wheels',
    'Number of Doors': 'Doors',
    'Market Category': 'Category',
    'Vehicle Size': 'Size',
    'Vehicle Style': 'Style',
    'highway MPG': 'Highway MPG',
    'city mpg': 'City MPG',
    'Popularity': 'Popularity',
    'MSRP': 'MSRP'
}
df.rename(columns=new_column_names, inplace=True)

# Convert 'Cylinders' to integer type
df['Cylinders'] = df['Cylinders'].astype(int)

In [8]:
#7
top_5_models = df.groupby('Make')['Model'].nunique().sort_values(ascending=False).head(5)
print("7. Top 5 Car Manufacturers by Unique Models:\n", top_5_models)

7. Top 5 Car Manufacturers by Unique Models:
 Make
Lexus            46
Mercedes-Benz    40
BMW              39
Chevrolet        38
Infiniti         38
Name: Model, dtype: int64

In [9]:
#8
median_msrp_bmw = df[df['Make'] == 'BMW']['MSRP'].median()
print(f"8. Median MSRP for BMW: ${median_msrp_bmw:,.2f}")

8. Median MSRP for BMW: $51,850.00

In [10]:
#9
top_5_makes = df.groupby('Make')['Model'].nunique().sort_values(ascending=False).head(5).index.tolist()
hp_stats = df[df['Make'].isin(top_5_makes)].groupby('Make')['HP'].agg(['max', 'min', 'mean']).round(2)
print("9. HP Statistics for Top 5 Makes:\n", hp_stats)

9. HP Statistics for Top 5 Makes:
                  max    min    mean
Make
BMW            600.0  170.0  326.91
Chevrolet      650.0   55.0  283.99
Infiniti       420.0  145.0  310.07
Lexus          552.0  134.0  277.42
Mercedes-Benz  641.0  121.0  350.18

In [11]:
#10
hp_msrp_corr = df['HP'].corr(df['MSRP'])
print(f"10. Correlation between HP and MSRP: {hp_msrp_corr:.4f}")

10. Correlation between HP and MSRP: 0.6567

In [12]:
#11
unique_models_count = df['Model'].nunique()
print(f"11. Total Unique Car Models: {unique_models_count}")

11. Total Unique Car Models: 713

In [13]:
#12
# Explode the 'Category' column (split by ', ' and count)
categories = df['Category'].str.split(', ').explode()
category_counts = categories.value_counts()
print("12. Total Number of Cars by Market Category:\n", category_counts)

12. Total Number of Cars by Market Category:
 Category
Crossover                                          1103
Flex Fuel                                           872
Luxury                                              851
Luxury,Performance                                  673
Hatchback                                           614
                                                   ...
Crossover,Exotic,Luxury,High-Performance              1
Crossover,Exotic,Luxury,Performance                   1
Performance,Hybrid                                    1
Exotic,Luxury,High-Performance,Hybrid                 1
Flex Fuel,Factory Tuner,Luxury,High-Performance       1
Name: count, Length: 70, dtype: int64

In [14]:
#13
# Filter for cars that contain 'Luxury' in the Category
luxury_cars = df[df['Category'].str.contains('Luxury', na=False)]
top_5_luxury_hp = luxury_cars.groupby('Make')['HP'].max().sort_values(ascending=False).head(5)
print("13. Top 5 Luxury Makes by Max HP:\n", top_5_luxury_hp)

13. Top 5 Luxury Makes by Max HP:
 Make
Mercedes-Benz    641.0
Cadillac         640.0
Bentley          631.0
Maybach          631.0
Rolls-Royce      624.0
Name: HP, dtype: float64

In [15]:
#14
filtered_cars_count = df[(df['MSRP'] >= 40000) & (df['Popularity'] >= 1000)].shape[0]
print(f"14. Cars priced >= $40k and Popularity >= 1000: {filtered_cars_count}")

14. Cars priced >= $40k and Popularity >= 1000: 1598

In [16]:
#15 16
# Plotting HP
plt.figure(figsize=(10, 5))
plt.boxplot(df['HP'])
plt.title('Box Plot of Engine HP')
plt.ylabel('HP')
plt.grid(axis='y', linestyle='--')
plt.savefig('hp_boxplot.png')
plt.close()

# Plotting Cylinders
plt.figure(figsize=(10, 5))
plt.boxplot(df['Cylinders'])
plt.title('Box Plot of Engine Cylinders')
plt.ylabel('Cylinders')
plt.grid(axis='y', linestyle='--')
plt.savefig('cylinders_boxplot.png')
plt.close()

In [17]:
#17
Q1_hp = df['HP'].quantile(0.25)
Q3_hp = df['HP'].quantile(0.75)
IQR_hp = Q3_hp - Q1_hp
upper_bound_hp = Q3_hp + 1.5 * IQR_hp
lower_bound_hp = Q1_hp - 1.5 * IQR_hp
outliers_count_hp = df[(df['HP'] > upper_bound_hp) | (df['HP'] < lower_bound_hp)].shape[0]

print("17. HP Outlier Analysis:")
print(f"   Upper Bound: {upper_bound_hp:.2f}")
print(f"   Lower Bound: {lower_bound_hp:.2f}")
print(f"   Number of Outliers: {outliers_count_hp}")

17. HP Outlier Analysis:
   Upper Bound: 512.00
   Lower Bound: 0.00
   Number of Outliers: 415

In [ ]:
#18
# Reload and clean to the state after Q2 (dropping duplicates only)
original_df = pd.read_csv('cars.csv')
original_df.drop_duplicates(inplace=True)
original_df.rename(columns={'Number of Doors': 'Doors'}, inplace=True)

# Calculate the median of the non-null values
doors_median = original_df['Doors'].median()
# Fill the missing values
original_df['Doors_Filled'] = original_df['Doors'].fillna(doors_median)
doors_missing_after_fill = original_df['Doors_Filled'].isnull().sum()

print("18. Filling Missing 'Doors' Values:")
print(f"   Median of 'Doors': {doors_median:.0f}")
print(f"   Missing 'Doors' count before fill: {original_df['Doors'].isnull().sum()}")
print(f"   Missing 'Doors' count after fill: {doors_missing_after_fill}")