Question 1:

Write a Python program that prints numbers from 1 to 20, but skips all even numbers.

In [1]:
num = 1

while num <= 20:
    if num % 2 == 0:
        num += 1
        continue
    print(num, end=' ')
    num += 1

1 3 5 7 9 11 13 15 17 19

Question 2:

Write a Python program that keeps asking the user to enter numbers and prints them.

The program should stop the loop if the user enters a negative number.

In [3]:
while True:
    number = int(input("Enter a number (negative to stop): "))
    
    if number < 0:
        print("Negative number entered. Loop stopped!")
        break
    else:
        print(f"You entered: {number}")

Enter a number (negative to stop):  5

You entered: 5

Enter a number (negative to stop):  -7

Negative number entered. Loop stopped!

Question 3:

Write a Python program that asks the user to guess a secret word.

In [4]:
secret_word = "python"

while True:
    guess = input("Guess the word: ").lower()
    if guess == secret_word:
        print("ðŸŽ‰ You guessed it!")
        break

Guess the word:  java
Guess the word:  python

ðŸŽ‰ You guessed it!

Question 4:

orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

You are given a list of e-commerce orders. Each order has:

an order ID

a customer name

a list of items with prices

Write a Python program to print all items for each order using nested while loops.

In [5]:
orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

order_index = 0

while order_index < len(orders):
    order = orders[order_index]
    print(f"Order ID: {order['order_id']} Customer: {order['customer']}")
    
    item_index = 0
    while item_index < len(order['items']):
        print(f"Item Price: {order['items'][item_index]}")
        item_index += 1
    
    order_index += 1

Order ID: 1 Customer: Ali
Item Price: 120
Item Price: 80
Item Price: 50
Order ID: 2 Customer: Sara
Item Price: 200
Item Price: 150
Order ID: 3 Customer: Raheel
Item Price: 90
Item Price: 60
Item Price: 40
Item Price: 30
Order ID: 4 Customer: Naveed
Item Price: 300

Question 5:

Print total amount spent by each customer (Using nested while loop)

orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

In [8]:
orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

order_index = 0

while order_index < len(orders):
    order = orders[order_index]
    total_spent = 0
    
    item_index = 0
    while item_index < len(order['items']):
        total_spent += order['items'][item_index]
        item_index += 1
    
    print(f"{order['customer']} spent total: {total_spent}")
    
    order_index += 1

Ali spent total: 250
Sara spent total: 350
Raheel spent total: 220
Naveed spent total: 300

Question 6:

Print the maximum item price for each order. (Using nested while loop)

orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

In [9]:
orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

order_index = 0

while order_index < len(orders):
    order = orders[order_index]
    max_price = order['items'][0]
    
    item_index = 1
    while item_index < len(order['items']):
        if order['items'][item_index] > max_price:
            max_price = order['items'][item_index]
        item_index += 1
    
    print(f"Most expensive item in Order {order['order_id']} = {max_price}")
    
    order_index += 1

Most expensive item in Order 1 = 120
Most expensive item in Order 2 = 200
Most expensive item in Order 3 = 90
Most expensive item in Order 4 = 300

Question 7:

Write a Python program to create a single list (list comprehension) that contains all numbers from 1 to 50 which are multiples of 5 and 10.

In [10]:
multiples = [x for x in range(1, 51) if x % 5 == 0 and x % 10 == 0]
print(f"Multiples of 5 and 10 from 1 to 50: {multiples}")

Multiples of 5 and 10 from 1 to 50: [10, 20, 30, 40, 50]

Question 8:

employees = [ {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2}, {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5}, {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1}, {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7}, {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6}, {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3}, {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8}, {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2}, ]

Using List Comprehension

In [11]:
employees = [
    {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2},
    {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5},
    {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1},
    {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7},
    {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6},
    {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3},
    {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8},
    {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2},
]

result_8 = [emp['name'] for emp in employees if emp['salary'] > 60000 and emp['experience'] > 5]
print(result_8)

['Naveed', 'Ayesha', 'Sana']

Question 9:

Employees with NOT HR department

In [12]:
employees = [
    {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2},
    {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5},
    {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1},
    {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7},
    {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6},
    {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3},
    {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8},
    {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2},
]

result_9 = [emp['name'] for emp in employees if emp['dept'] != 'HR']
print(result_9)

['Ali', 'Sara', 'Naveed', 'Ayesha', 'Talha', 'Sana']

Question 10:

Employees NOT in Sales OR experience > 5

In [13]:
employees = [
    {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2},
    {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5},
    {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1},
    {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7},
    {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6},
    {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3},
    {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8},
    {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2},
]

result_10 = [emp['name'] for emp in employees if emp['dept'] != 'Sales' or emp['experience'] > 5]
print(result_10)

['Sara', 'Raheel', 'Naveed', 'Ayesha', 'Sana', 'Hina']